<!DOCTYPE html>
<html>
<head>
  <title>Markdown Editor</title>
  <%= stylesheet_link_tag "screen", :media => "screen" %>
  <%= stylesheet_link_tag "print",  :media => "print" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
